body {
margin: 0;
background: #000;
font-family: Arial, sans-serif;
color: #fff;
text-align: center;
}


.banner-container{
width: 100%;
display: flex;
justify-content: center;
margin-top: 20px;
}

.menu {
display: flex;
justify-content: center;
gap: 40px;
margin-top: 10px;
}


.menu a {
text-decoration: none;
color: #00aaff;
font-weight: bold;
}


.logo{

width: 800px;
margin-top: 30px;

}

.input-container {
margin: 20px auto;
width: 350px;
background: #111;
padding: 10px 15px;
border-radius: 8px;
display: flex;
align-items: center;
border-bottom: 2px solid #00aaff;
}


.input-container input {
width: 100%;
background: transparent;
border: none;
outline: none;
color: #fff;
font-size: 14px;

}
nav{

margin-top: 10px;
width: 100%;
display: flex;
justify-content: center;
gap: 50px;
font-size: 20px;

}

nav a{

color: #00bfff;
text-decoration: none;
cursor: pointer;

}